---
import { lucideIcons } from "@/data/icons";

interface Props {
	name: string;
	className?: string;
}

const { name, className = "" } = Astro.props;
const icon = lucideIcons[name.toLowerCase()];
---

{icon ? (
	<svg class={className} xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox={icon.viewBox || "0 0 24 24"} fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" set:html={icon.path} />
) : (
	<span class={className}>{name}</span>
)}